@import "../../styles.styl"

.content
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  h1,h2,span
    padding 0
    margin 0
  .options
    padding-top 32px
    display flex
    flex-flow row nowrap
    .option
      cursor pointer
      color $color-900
      &:hover
        color $color-400
