@import "../../../styles.styl"

.content
  padding 16px
  min-height "calc(100vh - %s)" % $toolbar-height
  background #f4f4f4
  h1
    margin 0
  .title
    align-items center
    justify-content space-between

  section
    margin-bottom 16px
.collection
  justify-content flex-start
  align-items flex-start

.graphs
  margin 8px

.orange
  background orange
.green
  background lawngreen
.blue
  background dodgerblue

app-box
  justify-content center
  align-items center
  margin 8px
  span
    text-align center
