<app-toolbar pageName="Dashboard" [firstName]="user !== null ? user.getFirstName() : null">
  <div class="content" fxLayout="column" fxLayoutGap="16px">
    <section class="activity">
      <h2>Activity</h2>
      <div class="row" fxLayoutGap="32px">
        <div class="graph1 row">
          <p>graph 1</p>
          <table>
            <tbody>
            <tr>
              <td>Front Door</td>
              <td class="orange"></td>
            </tr>
            <tr>
              <td>Garden</td>
              <td class="green"></td>
            </tr>
            <tr>
              <td>Garage</td>
              <td class="blue"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="graph2 row">
          <p>graph 1</p>
          <table>
            <tbody>
            <tr>
              <td>Front Door</td>
              <td class="orange"></td>
            </tr>
            <tr>
              <td>Garden</td>
              <td class="green"></td>
            </tr>
            <tr>
              <td>Garage</td>
              <td class="blue"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class="cameras">
      <h2>Cameras</h2>
      <div class="row" fxLayoutGap="16px">
        <app-box class="column" *ngFor="let camera of cameras"
                 [options]="camera.isOwnedBy(user.getId()) ? 'View Delete' : 'View Manage'"
                 (link)="'/cameras/' + camera.getId()" (clicked)="onClick(camera.getId(), $event)">
          <mat-icon [matTooltip]="camera.getOwnedStatement(user.getId())" matTooltipPosition="above">
            {{camera.isOwnedBy(user.getId()) ? 'person' : 'group'}}
          </mat-icon>
          <span>{{camera.getName()}}</span>
        </app-box>
        <div *ngIf="cameras.length === 0">
          <span>You currently don't have any cameras setup with us</span>
          <app-box class="camera-setup" (clicked)="addCamera()">
            <mat-icon>video_call</mat-icon>
            <span>Set up now</span>
          </app-box>
        </div>
      </div>
    </section>
  </div>
</app-toolbar>
