@import "../../../styles.styl"

.content
  section
    padding 16px
    background-color $color-light-gray
    app-box
      span
        text-align center


.row
  display flex
  flex-direction row

.column
  display flex
  flex-flow column wrap

.orange
  background orange

.green
  background lawngreen

.blue
  background dodgerblue

table
  text-align right
