<h1 mat-dialog-title>{{nameCase(data.leaveType)}} a Group</h1>
<div mat-dialog-content class="dialog-content">
  <p>Are you sure you want to {{data.leaveType}} this group?</p>
  <p *ngIf="data.leaveType === 'Leave'">Any cameras you have shared will be removed from the group</p>
  <p *ngIf="data.leaveType === 'Delete'">All users cameras connected to the group will be unshared</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button (click)="confirm()">{{nameCase(data.leaveType)}} Group</button>
</div>
