@import "../../../styles.styl"

.centered-content
  min-height 100vh
  display flex
  justify-content center
  align-items center
  .header
    align-items center
  .form
    width 30%
    .error-message
      color $error-red
      font-size 12px
    .actions
      justify-content flex-end
      button
        margin-left 8px
  .wide-form
    width 80%

.top-content
  justify-content space-between
  padding-top 16px
