<div class="centered-content column" ngClass.lt-md="top-content">
  <div @loadLogo class="header column">
    <img src="https://via.placeholder.com/150">
    <h1>Bastet</h1>
  </div>
  <div @loadForm class="form column" ngClass.lt-md  ="wide-form">
    <form>
      <mat-card-content class="column">
        <mat-form-field @growIn *ngIf="state === 'Register'">
          <input matInput name="firstName" [(ngModel)]="firstName" placeholder="First Name" type="text"
                 autocomplete="given-name" (keypress)="clearErrors('first')">
        </mat-form-field>
        <mat-form-field @growIn *ngIf="state === 'Register'">
          <input matInput name="lastName" [(ngModel)]="lastName" placeholder="Last Name" type="text"
                 autocomplete="family-name" (keypress)="clearErrors('last')">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" [(ngModel)]="email" placeholder="Email" type="email" autocomplete="email"
                 (keypress)="clearErrors('email')">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="password" [(ngModel)]="password" placeholder="Password" type="password"
                 autocomplete="current-password" (keypress)="clearErrors('password')">
        </mat-form-field>
        <span @growIn *ngFor="let message of errorMessages" class="error-message">{{message}}</span>
      </mat-card-content>
    </form>
    <div class="actions row">
      <button mat-button (click)="toggleState()">
        {{nextState}}
      </button>
      <button mat-raised-button class="mat-primary"
              (click)="state === LOGIN_STATE ? attemptLogin() : attemptRegister()">
        {{state}}
      </button>
    </div>
  </div>
  <div ngHide ngShow.lt-md></div>
</div>
