@import "../../../styles.styl"

.page_content
  display flex
  flex-flow column nowrap
  padding 16px
  background-color $color-light-gray
  .title
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
.not-found
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  h1,h2,span
    padding 0
    margin 0
  span
    cursor pointer
    &:hover
      color $color-400

app-box
  justify-content center
  align-items center
  span
    text-align center

.members
  display flex
  flex-flow row wrap

.clickable
  cursor pointer

.spinner
  align-items space-around
  justify-content start
