<app-toolbar pageName="User Groups" [firstName]="user.getFirstName()">
  <div class="content column">
    <div *ngFor="let group of userGroups">
      <div class="space_between">
        <h2>{{group.getName()}}</h2>
        <button mat-flat-button (click)="viewGroup(group.getId())">
          {{group.getAdmin() === user ? 'Manage Group' : 'View Group'}}
        </button>
      </div>
      <div class="row selection" fxLayoutGap="16px">
        <app-box class="column" *ngFor="let groupMember of group.getMembers(user)">
          <mat-icon>person</mat-icon>
          <span>{{user === groupMember ? 'You' : groupMember.getFormattedName()}}</span>
        </app-box>
        <app-box options="New Existing" (clicked)="inviteClicked(group.getId(), $event)">
          <mat-icon>add</mat-icon>
          <span>Invite a User</span>
        </app-box>
      </div>
    </div>
  </div>
</app-toolbar>
