@import "../../../styles.styl"
@import "../../shared/theme/button.styl"

.content
  display flex
  flex-flow column nowrap
  padding 16px
  background-color $color-light-gray

.large_content
  width 80%
  -webkit-box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.75);
  box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.75);

.small_content
  .title
    display flex
    flex-flow column nowrap
    justify-content center
  .status
    display flex
    flex-flow row nowrap
    justify-content center
  width 100%

.title
  display flex
  flex-flow row wrap
  justify-content space-between
  align-items center

.status
  display flex
  justify-content left
  align-items center

.green
  color green

.red
  color red

.chart
  display flex
  justify-content center
  align-items center

.photos
  img
    max-width 300px
    margin 8px
    cursor pointer
    &:hover
      max-width 316px
      margin 0

