.centered-content
  display flex
  flex-flow column nowrap
  justify-content center
  align-content center
  align-items center
  height 100vh

.column
  display flex
  flex-direction column
  justify-content center

mat-card
  width 45%
mat-card-actions
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-content center
  button
    flex-shrink 1

.smallBox
  width 80%
  margin 0 0 25% 0

.input-row
  display flex
  flex-flow row wrap
  justify-content space-between
  mat-form-field
    flex 1 1 auto

