<h1 mat-dialog-title>Invite a User</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input name="current-password" [(ngModel)]="currentPassword" matInput placeholder="Current Password" autocomplete="password">
    </mat-form-field>
    <mat-form-field>
      <input name="new-password" [(ngModel)]="newPassword" matInput placeholder="New Password">
    </mat-form-field>
    <mat-form-field>
      <input name="new-password-again" [(ngModel)]="repeatedPassword" matInput placeholder="New Password Again">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-flat-button class="mat-warn" (click)="confirmChange()" [disabled]="!newPassword || newPassword !== repeatedPassword || !currentPassword">Change Password</button>
</div>
