@import "../../../styles.styl"

.content
  padding 16px
  min-height "calc(100vh - %s)" % $toolbar-height
  background #f4f4f4

.collection
  justify-content flex-start
  align-items flex-start

app-box
  justify-content center
  align-items center
  margin 8px
  span
    text-align center
