.dialog-content
  display flex
  flex-flow row wrap
  div
    padding 0 16px 0 16px
    display flex
    flex-flow column wrap

mat-radio-group
  display flex
  flex-flow column nowrap
  mat-radio-button
    padding 4px

h3
  font-weight 100
