mat-toolbar
  position fixed
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between

.title-content
  display flex
  flex-direction row
  justify-content space-between

.content
  padding-top 96px
  display flex
  flex-direction row
  justify-content center
  align-items center
  align-content center
  flex-wrap wrap
  app-chartjsbar-graph-component
    width 90%

//  flex-grow 1
//  flex-shrink 1

mat-card-content
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around

.row
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  padding 8px
  margin 8px !important
  border lightgray solid 1px

.floating-button
  position fixed
  right 16px
  bottom 16px
