@import '../../../styles.styl'

form
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  mat-form-field
    width 300px
  .black
    color black
  .grey
    color $color-gray

.mat-dialog-actions
  display flex
  flex-flow row wrap
  justify-content space-between

.error
  color red
  font-size 12px
