/* You can add global styles to this file,
 and also import other style files */

$toolbar-height = 64px

$error-red = #d50000
$disabled-background = #ddd
$primary = #004d40

body
  margin 0
  font-family Roboto,
 "Helvetica Neue",
 sans-serif

mat-icon
  -moz-user-select none
  -ms-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -webkit-touch-callout none

.row
  display flex
  flex-flow row wrap

.column
  display flex
  flex-flow column nowrap

.clickable
  cursor pointer

.page_content
  padding 16px
  min-height "calc(100vh - %s)" % $toolbar-height
  background #f4f4f4
