<mat-toolbar class="mat-primary row">
  <div fxLayoutGap="8px" class="row">
    <mat-icon @fadeIn fxHide fxShow.lt-md (click)="sidenav.toggle()">
      menu
    </mat-icon>
    <span>Bastet</span>
  </div>
  <div fxHide.lt-sm>
    <span class="clickable" *ngIf="firstName" (click)="toggleSettings()" [matMenuTriggerFor]="menu">Welcome {{firstName}}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="mat-primary">
  <mat-sidenav class="sidenav-container" #sidenav mode="side" opened>
    <div class="sidebar_item" *ngFor="let link of toolbarLinks" routerLink="{{link.link}}"
         [ngClass]="{'sidebar_item-active': pageName.includes(link.text), 'sidebar_item': !pageName.includes(link.text)}">
      <span>{{link.text}}</span>
    </div>
    <div class="sidebar_item" fxHide fxShow.lt-sm (click)="goToSettings()">
      <span>Settings</span>
    </div>
    <div class="sidebar_item" fxHide fxShow.lt-sm (click)="signOut()">
      <span>Sign out</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button class="row" mat-menu-item (click)="signOut()">
    <span>Sign Out</span>
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button class="row" mat-menu-item (click)="goToSettings()"
          [disabled]="pageName.includes('Settings')"
          [ngClass]="{'menu_item-active': pageName.includes('Settings')}">
    <span>Settings</span>
    <mat-icon>settings</mat-icon>
  </button>
</mat-menu>
