@import "../../../../styles.styl"
@import "../../../../styles.styl"

mat-toolbar
  height $toolbar-height
  justify-content space-between
  align-items center
  div.row
    justify-content center
    align-items center
mat-sidenav
  width 256px
  background-color #fff
  mat-sidenav-container
    min-height "calc(100vh - %s)" % $toolbar-height
  div
    padding 16px
button.row
  justify-content space-between
  align-items center
  mat-icon
    margin-right 0
    margin-left 8px
  .menu_item-active
    color $primary


.sidebar_item-active
  color $primary
.sidebar_item
  cursor pointer
  -webkit-transition background ease-in-out 0.5s
  -moz-transition background ease-in-out 0.5s
  -ms-transition background ease-in-out 0.5s
  -o-transition background ease-in-out 0.5s
  transition background ease-in-out 0.5s
  &:hover
    background-color #ddd
