<mat-toolbar>
  <div fxLayoutGap="8px" (click)="sidenav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
    <span>{{pageName}}</span>
  </div>
  <div>
    <mat-icon class="toolbar-option icon_option">notifications</mat-icon>
    <span *ngIf="firstName" class="toolbar-option span_option" (click)="toggleSettings()">Welcome {{firstName}}</span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <div *ngFor="let link of toolbarLinks" routerLink="{{link.link}}"
         [ngClass]="{'sidebar_item-disabled': link.text === pageName, 'sidebar_item': link.text !== pageName}">
      <span>{{link.text}}</span>
      <mat-icon>{{link.icon}}</mat-icon>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="user-settings" [hidden]="settingsHidden">
  <div class="list">
    <div class="list_item" (click)="signOut()">
      <span>Sign Out</span>
      <mat-icon>exit_to_app</mat-icon>
    </div>
    <div class="list_item" [ngClass]="{'sidebar_items-disabled': 'settings' === pageName}" (click)="goToSettings()">
      <span>Settings</span>
      <mat-icon>settings</mat-icon>
    </div>
  </div>
</div>
